<div ng-if="showConfirmCloseResumeModal" id="create-new-card" class="application-modal-container application-modal confirm-close-resume-modal" ng-cloak>
    <div class="application-modal-block">
        <div class="application-modal-backdrop"></div>
        <div class="application-modal-wrap">
            <div class="application-modal-heading">
                <h4>Close without sending email?</h4>
            </div>
            <div class="text-center">
                <p>It seems that you have entered some email content, but have not sent the email. Are you sure you want to close without sending the email?</p>
            </div>
            <div class="application-modal-action center-buttons">
                <button class="btn btn-default" ng-click="closeResumeExplicit()">Yes, close without sending</button>
                <button class="btn btn-primary" ng-click="toggleConfirmCloseResumeModal()">No, don't close</button>
            </div>
        </div>
    </div>
</div>
